<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<appSettings>

		<add key="taskInformationFile" value="C:\EasySave\Task's_Details.json" />  
		<add key="LogPath" value="C:\EasySave\LogFile.json" />
		<add key="State" value="C:\EasySave\State.json" />
		
		<add key="EasySave" value="C:\EasySave" />

	</appSettings>
	
</configuration>